nginx-ingress:
  controller:
    image:
      repository: gcr.io/jenkinsxio/nginx-ingress-controller
    replicaCount: 3
    extraArgs:
      publish-service: kube-system/jxing-nginx-ingress-controller
    service:
      omitClusterIP: true
{{- if eq .Requirements.cluster.provider "eks" }}
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: nlb
        service.beta.kubernetes.io/aws-load-balancer-eip-allocations: "eipalloc-0e02c37cbbcc82209,eipalloc-0c81316886d8086ec,eipalloc-05f20ceada17229ef"
{{- end }}
  defaultBackend:
    service:
      omitClusterIP: true
  rbac:
    create: true
